VITE_SUPABASE_URL=https://wphmgkethmtxihmtzjcq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwaG1na2V0aG10eGlobXR6amNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NTI0NTYsImV4cCI6MjA3ODQyODQ1Nn0.9UosrUqKku6HlNFDhC0_ZOG-g09M2voS5Tzn4-MvUEA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwaG1na2V0aG10eGlobXR6amNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjg1MjQ1NiwiZXhwIjoyMDc4NDI4NDU2fQ.nIz27us8E21hxJHek2BPHfcNlzj0nSEz4qN5oYvyyrA # needed for seeding + edge functions
